.share {
  display: block;
  padding: 10px 0;
}

.share__disagree {
  margin-left: 20px;
  background-color: rgba(255, 0, 0, 0.521);
  cursor: pointer;
}

.share__agree {
  margin-left: 20px;
  background-color: rgba(0, 128, 0, 0.384);
  cursor: pointer;  
}